.importantStep {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: lightcoral;
    border-radius: 24px;
    padding: 24px;
    color: white;
    font-size: xx-large;
}