.container {
  background-color: lightblue;
  padding: 24px;
  margin: 28px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 350px;
}

.heading {
  color: lightcoral;
}
