.results {
  background-color: white;
  margin: 24px 32px;
  padding: 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.male {
  background-color: lightblue;
}

.female {
  background-color: lightpink;
}