.section {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  height: 80vh;
  padding: 40px 80px;
}

.userCard {
  width: 500px;
  background-color: white;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.userCard > img {
  width: 25%;
}